<app-header></app-header>

<main>
    <ul id="users">
        <!-- <li>
            <app-user [user]="users[0]" (select) = "onSelect($event)"/>
        </li>
        <li>
            <app-user [user]="users[1]" (select) = "onSelect($event)"/>
        </li>
        <li>
            <app-user [user]="users[2]" (select) = "onSelect($event)"/>
        </li> -->

        <!-- outputting list content 
         track is used to track the data of the users
         if any value in the users is modified or removed or update and it only 
         re-render that particluar value in case of the entire list-->
        @for(user of users; track user.id){
            <li>
                <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelect($event)"/>
            </li>
        }
    </ul>

    <!-- <app-tasks  [name]="selectedUser ? selectedUser.name : ''"/> -->

    <!-- outputting conditional content -->
     @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"/>
     } @else {
        <p id="fallback">Select a user to see their tasks.</p>
     }

</main>